#container {
    height: 640px;
    width: 100%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tarjeta-container {
    height: 500px;
    width: 500px;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/564x/10/86/a4/1086a4ccc2767a5248c01c289ffa6373.jpg");
    position: relative;
}

#container-rostro {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 15px;
    top: 15px;
    border-radius: 150px;
    background: rgba(255, 194, 244, 0.745);
    box-shadow: 0 8px 32px 0 rgba(244, 84, 255, 0.748);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}

#rostro {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 15px;
    top: 15px;
    border-radius: 150px;
}

#github-img {
    position: absolute;
    left: 300px;
    top: 40px;
    width: 70px;
    height: 70px;
    background: rgb(0, 0, 0);
    box-shadow: 1 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
}

#instagram-img {
    position: absolute;
    left: 400px;
    top: 38px;
    width: 77px;
    height: 75px;
}

#strava-img {
    position: absolute;
    left: 300px;
    top: 150px;
    width: 70px;
    height: 70px;
}

#facebook-img {
    position: absolute;
    left: 405px;
    top: 150px;
    width: 70px;
    height: 70px;
}

#texto-div {
    position: absolute;
    width: 450px;
    height: 180px;
    left: 25px;
    bottom: 26px;
    border-radius: 50px;
    background: rgba(255, 194, 244, 0.745);
    box-shadow: 0 8px 32px 0 rgba(244, 84, 255, 0.748);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}